@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* For rgb(255 115 179 / <alpha-value>) */
        --color-primary-dark: 33 58 115;
        --color-primary-main: 59 91 165;
        --color-primary-light: 105 134 201;

        --color-secondary-dark: 220 177 4;
        --color-secondary-main: 250 204 11;
        --color-secondary-light: 252 225 115;

        --color-info: 112 200 255;
        --color-success: 144 255 119;
        --color-error: 255 100 100;
        --color-warning: 238 139 52;
    }
}
